@import "tailwindcss";

@layer base {
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }

  input[type="search"] {
    -webkit-appearance: textfield;
    appearance: textfield;
  }

  img {
    object-fit: cover;
    object-position: center;
  }
}
