@import "tailwindcss";

/*? Display Variant */
@theme inline {
  --text-display-1: clamp(2.6rem, 1.8rem + 2vw, 4.5rem);
  --text-display-1--line-height: 1.2;
  --text-display-1--letter-spacing: -0.09rem;
  --text-display-1--font-weight: 600;

  --text-display-2: clamp(2.2rem, 1.6rem + 1.8vw, 3.75rem);
  --text-display-2--line-height: 1.2;
  --text-display-2--letter-spacing: -0.075rem;
  --text-display-2--font-weight: 600;
}

/* TODO: add .small variants */
/*? Heading Variant */
@theme reference {
  --text-heading-1: clamp(2.2rem, 1.6rem + 1.8vw, 3rem);
  --text-heading-1--line-height: 1.2;
  --text-heading-1--letter-spacing: -0.06rem;
  --text-heading-1--font-weight: 600;

  --text-heading-2: clamp(1.6rem, 1.25rem + 1vw, 2.5rem);
  --text-heading-2--line-height: 1.2;
  --text-heading-2--letter-spacing: -0.05rem;
  --text-heading-2--font-weight: 600;

  --text-heading-3: clamp(1.4rem, 1.15rem + 0.8vw, 2.0625rem);
  --text-heading-3--line-height: 1.2;
  --text-heading-3--letter-spacing: -0.04125rem;
  --text-heading-3--font-weight: 600;

  --text-heading-4: clamp(1.2rem, 1.05rem + 0.6vw, 1.75rem);
  --text-heading-4--line-height: 1.2;
  --text-heading-4--letter-spacing: -0.035rem;
  --text-heading-4--font-weight: 600;

  --text-heading-5: clamp(1.05rem, 0.95rem + 0.4vw, 1.4375rem);
  --text-heading-5--line-height: 1.2;
  --text-heading-5--letter-spacing: -0.02875rem;
  --text-heading-5--font-weight: 600;

  --text-heading-6: clamp(0.95rem, 0.9rem + 0.3vw, 1.1875rem);
  --text-heading-6--line-height: 1.2;
  --text-heading-6--letter-spacing: -0.02375rem;
  --text-heading-6--font-weight: 600;
}

/*? Sub-Heading Variant */
@theme inline {
  --text-sub-heading: clamp(1rem, 0.95rem + 0.4vw, 1.25rem);
  --text-sub-heading--line-height: 1.2;
  --text-sub-heading--font-weight: 400;
}

/*? Paragraph Variant */
@theme inline {
  --text-paragraph-1: clamp(0.9rem, 0.85rem + 0.2vw, 0.875rem);
  --text-paragraph-1--line-height: 1.2;
  --text-paragraph-1--font-weight: 400;

  --text-paragraph-2: clamp(1rem, 0.95rem + 0.25vw, 1rem);
  --text-paragraph-2--line-height: 1.2;
  --text-paragraph-2--font-weight: 400;

  --text-paragraph-3: clamp(1.1rem, 1.05rem + 0.3vw, 1.125rem);
  --text-paragraph-3--line-height: 1.2;
  --text-paragraph-3--font-weight: 400;
  --text-paragraph-3--letter-spacing: -0.0225rem;
}

/*? Semantic Variant */
@theme inline {
  --text-caption: clamp(1.1rem, 1.05rem + 0.3vw, 0.75rem);
  --text-caption--line-height: 1.2;
  --text-caption--font-weight: 400;

  --text-footer: clamp(0.75rem, 0.7rem + 0.1vw, 0.625rem);
  --text-footer--line-height: 1.2;
  --text-footer--font-weight: 400;
  --text-footer--letter-spacing: 0.0125rem;
}
