@import "tailwindcss";
@import "./styles/system-design.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* TODO: Figure out other animation option */
@media (prefers-reduced-motion: no-preference) {
  *,
  *::before,
  *::after {
    transition: all 200ms ease-in-out;
  }

  html {
    scroll-behavior: smooth;
  }
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition: all 1ms ease-in-out;
  }
  html {
    scroll-behavior: auto;
  }
}
